<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ToturialsNija Automation Suite">
	 <listeners>
		 <listener class-name="com.tutorialsninja.qa.listenerns.MyListerns"></listener>
	 </listeners>
  <test name="TutorialsNinja Tests">
    <classes>
      <class name="com.tutorialsninja.qa.testcase.RigsterTest"/>
      <class name="com.tutorialsninja.qa.testcase.Login2somechangesTest"/>
      <class name="com.tutorialsninja.qa.testcase.SearchTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


